{# template for /etc/hosts #}
127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for host in groups['all'] %}
{{ ansible_facts['default_ipv4']['address'] }}  {{ inventory_hostname }}
{% endfor %}

{# {{ hostvars['host']['ansible_facts']['default_ipv4']['address'] }}  {{ hostvars['host'] }} #}
{# {{ hostvars['host']['ansible_facts']['default_ipv4']['address'] }}  {{ inventory_hostname }} #}
